<div class="card">
  <div class="card-header">
    <span>Login</span>
  </div>
  <div class="card-body">
    <form class="form" (ngSubmit)="login()">
      <div>
        <label>Email</label>
        <div
          class="inputForm"
          [class.error]="emailControl.invalid && emailControl.touched"
        >
          <input
            type="email"
            class="input"
            placeholder="Ingresa tu email"
            [formControl]="emailControl"
          />
        </div>
        <div class="error-message" *ngIf="emailControl.invalid && emailControl.touched">
          {{ getErrorMessage('email') }}
        </div>
      </div>
      <div>
        <label>Contraseña</label>
        <div
          class="inputForm"
          [class.error]="passwordControl.invalid && passwordControl.touched"
        >
          <input
            type="password"
            class="input"
            placeholder="Ingresa una contraseña"
            [formControl]="passwordControl"
          />
        </div>
        <div class="error-message" *ngIf="passwordControl.invalid && passwordControl.touched">
          {{ getErrorMessage('password') }}
        </div>
      </div>

      <div class="error-message auth-error" *ngIf="errorMessage()">
        {{ errorMessage() }}
      </div>

      <button
        class="button-submit"
        type="submit"
        [disabled]="emailControl.invalid || passwordControl.invalid"
        >
        Iniciar Sesión
      </button>
    </form>
  </div>
  <div class="card-footer">
    <span>¿Necesitas una cuenta? </span>
    <a [routerLink]="['/auth/register']">Registrate</a>
  </div>
</div>
