.card {
  width: 320px;
  height: auto;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}

.card-header {
  height: auto;
  background-color: #e5e8e8;
  border-bottom: 1px solid #d5d8dc;

  p {
    color: var(--primary);
    padding: 18px 15px;
    font-weight: 600;
  }
}

.card-body {
  margin: 20px;
}
