:root {
  /* Colors */
  --color-bg: #eaecee;
  --white: #FFFFFF;
  --primary: #3673df;
  --hover: #3673df;
  --light-gray: #B0B0B0;
  --error: #ff0000;

  /* Typography */
  --primary-font: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: var(--primary-font);
}
